// Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");

// Start : Includes
//======================================//
@import "./includes/variables";
@import "./mixins/breakpoints";
@import "./includes/header";
@import "./includes/footer";
// End : Includes
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Exo", sans-serif;
  scroll-behavior: smooth;
}
ul {
  margin: 150px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  position: relative;
}

.hover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #cf4c4c;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.hover:hover:after {
  left: 34%;
  width: 100px;
  @include media-min-md {
    width: 90%;
    left: 0;
  }
}

nav {
  position: sticky !important;
  z-index: 1;
  top: 0;
}

.content {
  padding: 0 15px;
}

.top {
  font-size: 20px;
  float: right;
  margin: 10px 15px;
  background: #e12c5b;
  padding: 3px 10px;
  border: none;
}

.contacts {
  background-position: center;
  padding: 20px 0;
  @include media-min-md{
    padding: 30px 0;
  }
  p {
    font-size: 22px;
  }
}

.line {
  width: 40px;
  height: 5px;
  background: #e12c5b;
  margin: 10px;
}
.line_contact {
  width: 40px;
  height: 5px;
  background: #e12c5b;
  margin: 0 48%;
}
h4 {
  color: #223a66;
  font-weight: 700;
  letter-spacing: 2px;
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}

$animationSpeed: 90s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 160px;
  // margin: auto;
  overflow: hidden;
  // position: relative;
  // width: 960px;

  // &::before,
  // &::after {
  // 	@include white-gradient;
  // 	content: "";
  // 	height: 100px;
  // 	position: absolute;
  // 	width: 200px;
  // 	 z-index: 2;
  // }

  // &::after {
  // 	right: 0;
  // 	top: 0;
  // 	transform: rotateZ(180deg);
  // }

  // &::before {
  // 	left: 0;
  // 	top: 0;
  // }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;
    padding: 0 20px;
  }
}

.project {
  padding: 3rem 0;
  @include media-min-md{
    padding: 5rem 0;
  }
}
.About_text {
  color: #e12c5b;
}
.download_resume {
  margin: 0 10px;
  background-color: #e12c5b !important;
  // color:#fff !important;
  a {
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 12px;
    color:#fff !important;
    &:hover{
      padding: 0 10px;
    }
  }
}

.skills {
  padding: 5px !important;
  font-size: 15px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.content_shadow {
  margin:10px 0 0 0;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  @include media-min-md {
    margin:0;
    width: 45%;
  }
}

.contact_shadow{
  width: 100%;
  height:50vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  @include media-min-md {
    width: 32%;
  }

}
.contact{
  padding:20px 15px
}
.about_shadow {
  width: 100%;
  @include media-min-md {
    width: 50%;
  }
}
.resume_shadow {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  @include media-min-md {
    width: 48%;
  }
}
.name_effect {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
  }
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(2px);
    }
    100% {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0px);
    }
  }
}

.btn-primary {
  background-color: #e12c5b !important;
  border-color: #e12c5b !important;
  &:hover{
    background-color: #fff !important;
    color: #e12c5b !important;
  }
}

.git,
.linkedin {
  border: 2px solid #e12c5b;
  padding: 6px;
  border-radius: 20px;
}

.color_git,
.color_linked {
  color: #e12c5b;
}

.respostiry {
  font-size: 16px;
  color: #fff !important;
  background-color: #e9204f !important;
  box-shadow: inset 0 0 0 0 0 #fff;
  font-family: "Overpass", Sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  &:hover{
    background-color: #fff !important;
    color:#e9204f !important;
  };
}
.About_word{
word-spacing: 5px;
line-height: 25px;
}

.Respositories{
  padding:0 15px;
  @include media-min-md{
    display: flex;
  }
  .res-card{
    background-color: #fff;
    border: 3px solid #e9204f;
    border-radius: 10px;
    padding:20px;
    margin:10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    &:hover{
      transition: all 200ms ease-in !important;
      transform: scale(1.1) !important;
    }
    .res-heading{
      font-size: 20px;
      font-weight: 700;
    }
    .res-content{
      font-size: 12px;
    }
  }
}

.res-link{
  text-decoration: none !important;
  letter-spacing: 0rem !important;
  color:#fff;
  font-size: 12px;
  background-color: #e9204f;
  padding:8px;
  border-radius:5px;
  &:hover{
    color:#fff
  }
}
.git-hover{
  color:#cf4c4c;
  &:hover{
    color:#cf4c4c;
    border:1px solid #e9204f;
    border-radius:25px;
    padding:5px;
  }
}

.form-control{
  border:1px solid #e12c5b !important;
}
.res-heading{
  font-size: 15px;
  @include media-min-md{
    font-size: 20px;
  }
}
.contact-heading{
  font-size: 15px;
  padding:15px 0 0 0 ;
  @include media-min-md{
    font-size: 20px;
  }
}